body {
  background-color: #87bfff;
}

.App {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.square {
  padding: 1%;
  width:10%;
  border: none;
  display: inline-block;
}
.square:after {
  padding-bottom: 100%;
  content: "";
  display: inline-block;
}
.square[data-colour="0"] {
  background-color: #add7f6;
}
.square[data-colour="1"] {
  background-color: #3f8efc;
}

.square:focus {
  outline: 0;
}

.square[data-selected="true"] {
  background-color: #a0eee1;
}
